<div class="row">
    <img [src]="selectedEvent.coverImg" alt="" class="event-img img-fluid">
    <button (click)="createTicket(selectedEvent.id)" class="btn btn-success m-1">
        <!-- TODO add check for if event is attendable: *ngIf="(selectedEvent.capacity > 0) && (!selectedEvent.isCanceled) && (!alreadyAttending(selectedEvent.id))" -->
        Attend</button>
    <h5><img [src]="selectedEvent.creator.picture" alt="" class="img-fluid">{{selectedEvent.creator.name}}</h5>

    <h3 [ngClass]="{ 'text-decoration-line-through': selectedEvent.isCanceled }">{{ selectedEvent.name }} 
        <!-- TODO add cancel button -->
    </h3>
    <h5>{{ selectedEvent.location }}</h5>
    <h6 [ngClass]="{ 'text-danger': (selectedEvent.capacity <= 0) }"> {{getCancelMessage()}}
        Tickets remaining: {{ selectedEvent.capacity }}</h6>
    <h6>{{ selectedEvent.description }}</h6>

    <h6>Attending: 
        <app-ticket-holder *ngFor="let ticket of appState.currTickets" [ticket]="ticket"></app-ticket-holder>
    </h6>

    <h6>Comments:
        <app-comment *ngFor="let comment of appState.comments" [comment]="comment"></app-comment>
    </h6>
</div>
