
<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">TowerTest</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">

                <li class="nav-item btn">
                    <a routerLink="/about">About</a>
                </li>
                
                <li class="nav-item btn">
                    <a *ngIf="auth.isAuthenticated$ | async" routerLink="/account">Account</a>
                </li>

                <li class="nav-item btn">
                    <a *ngIf="auth.isAuthenticated$ | async" data-bs-toggle="modal" data-bs-target="#exampleModal">New Event</a>  
                </li>
                
            </ul>
        </div>
        <app-auth-button></app-auth-button>
    </div>

</nav>




  

<app-event-form></app-event-form>