input{
    width: 20vw;
}

select{
    width: 20vw;
}

textarea{
    width: 20vw;
}

.modal-content{
    background-color: #cfc8c8 !important;
}


.validatorWarning{
    background-color: #e07070;
    width: 20vw;
    border-radius: 1px;
    height: 4vh;
}

.validatorSpacer{
    width: 20vw;
    border-radius: 1px;
    height: 4vh;
}

.create-button{
    color: #292929 !important;
    background: var(--bs-primary);
}

.cancel-button{
    color: #292929 !important;
    background: var(--bs-danger);
}

*{
    color: #292929 !important;

}