<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2 *ngIf="auth.user$ | async as user">Welcome {{user.nickname}}</h2>
      <button (click)="onClick()" class="btn btn-light">Button</button>
    </div>
  </div>
  <div class="row justify-content-around">

    <app-filter-button class="p-0 col"  [type]="'all'"></app-filter-button>
    <app-filter-button class="p-0 col" *ngFor="let type of appState.eventTypes" [type]="type"></app-filter-button>
    
  </div>
  <div class="row justify-content-around">

    <app-event class="col-4" *ngFor="let event of appState.displayedEvents" [event]="event"></app-event>

  </div>
</div>